<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <span class="rest-in-place"
        data-url=<%= url_for(@user) %>
        data-object="user"
        data-attribute="name">
    <%= @user.name %>
  </span>
</p>

<p class="rest-in-place-slider">
  <strong>Age:</strong>
  <span class="rest-in-place"
        data-url="<%= url_for(@user) %>"
        data-object="user"
        data-attribute="age">
    <%= @user.age %>
  </span>
  <input class="slider"
         data-slider-id="user-<%= @user.id %>-age"
         type="text" data-slider-min="0"
         data-slider-max="199"
         data-slider-step="1"
         data-slider-value="<%= @user.age %>" />
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
